<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Kotsios\AdminActions\Api\AdminActionRepositoryInterface" type="Kotsios\AdminActions\Model\AdminActionRepository" />
    <preference for="Kotsios\AdminActions\Api\Data\AdminActionInterface" type="Kotsios\AdminActions\Model\AdminAction" />
    <preference for="Kotsios\AdminActions\Api\Data\AdminActionSearchResultInterface" type="Kotsios\AdminActions\Model\AdminActionSearchResult" />

    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="kotsios_adminaction_data_source" xsi:type="string">Kotsios\AdminActions\Model\ResourceModel\AdminAction\Grid\Collection</item>
            </argument>
        </arguments>
    </type>

    <virtualType name="Kotsios\AdminActions\Model\ResourceModel\AdminAction\Grid\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">kotsios_adminactions</argument>
            <argument name="resourceModel" xsi:type="string">Kotsios\AdminActions\Model\ResourceModel\AdminAction</argument>
        </arguments>
    </virtualType>
</config>
