<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Kotsios_AdminActions::kotsios_logs"
             title="Logs"
             translate="title"
             module="Kotsios_AdminActions"
             sortOrder="10"
             parent="Magento_Backend::system"
             dependsOnModule="Kotsios_AdminActions"
             resource="Kotsios_AdminActions::kotsios_logs"/>
        <add id="Kotsios_AdminActions::kotsios_adminactions"
             title="Admin Actions"
             translate="title"
             module="Kotsios_AdminActions"
             sortOrder="20"
             parent="Kotsios_AdminActions::kotsios_logs"
             action="kotsios_adminaction/index/index"
             resource="Kotsios_AdminActions::kotsios_adminactions"/>
    </menu>
</config>
